<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Bienvenido a Soft21</h1>
	<form method= "POST" action="/iniciar">
		<input type="text" name= "Jugador">
		<input type="submit" value="Iniciar">
	</form>
</body>
</html>