<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= session["texto"] %></h1>
	<form method= "POST" action="/cartas">
		<input type="submit" value="Dar Cartas">
	</form>
</body>
</html>